.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

.wrapper div {
    margin: 10px;
}

@media all and (min-width: 600px) {
    .handclicking {
        flex: 1;
    }

    .upgrades {
        flex: 2;
    }
}

.upgrades {
    border: solid 1px;
}

.upgrades button{
    margin: 1%;
    width: 98%;
}

.handclicking {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#increment {
    height: 50px;
    width: 200px;
}
