body {
    background-image: url(rescources/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#score{
    font-size: 30px;
    margin: 5px;
}

.game_area {
    display: flex;
    flex-flow: row wrap;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.area {
    border: 2px solid rgb(0,100,0);
    border-radius: 20px;
    background-color: rgba(240,255,240, 0.9);
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 15px rgba(47,79,79, 0.5);
}

.area__header{
    text-align: center;
    font-size: 25px;
}

.clicking_area {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 210px;

    grid-row: 1 / 2;
}

.clicking_area__button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid dimgray;
    background-color: cornsilk;
    color: dimgray;
    font-size: 20px;
}


.clicking_area__paragraph--gain {
    margin: 5px;
}


.upgrade_area {
    grid-row: 2 / 3;
    min-height: 210px;
}

.upgrade_area__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.upgrade_area__button {
    height: 50px;
    width: 50px;
    border: 1px solid dimgray;
    border-radius: 9px;
    margin: 5px;
    background-color: mintcream;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor:pointer;
}

.upgrade_area__button:hover{
    background-color: Ivory;
    border: 2px inset LightGrey;
}

.upgrade_area__button--reset:hover{
    background-color: MistyRose;
}

.upgrade_area__button::after {
  color: #eee;
  content: attr(data-popuptext);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  opacity: 0;
  bottom: 45px;
  left: -2px;
  width: 100px;
  position: absolute;
  transition: 500ms ease;
  white-space: pre-wrap;
  max-height: 0;
}

.upgrade_area__button:hover::after {
  opacity: 1;
  max-height: 500px;
  padding: .4em;
  bottom: 50px;
}


.miners_area {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    text-align: center;
}

.miners_area__button {
    margin: 1%;
    width: 98%;
    border-radius: 10px;
    background-color: #F5FFFA;
    cursor:pointer;

    display: flex;
    justify-content: center;
    position: relative;
}

.miners_area__button:hover{
    background-color: Seashell;
    border: 2px inset lightgray;
}

.miners_area__button::after {
    color: #eee;
    content: attr(data-popuptext);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 0;
    right: -2px;
    width: 150px;
    height: 78%;
    position: absolute;
    transition: 500ms ease;
    white-space: pre-wrap;
    max-height: 0;
  }
  
  .miners_area__button:hover::after {
    opacity: 1;
    max-height: 500px;
    padding: .4em;
    margin: 5px;
  }

.miners_button__image{
    width: 100px;
    height: 100px;

    padding: 0 20px;

}

.miners_button__text {
    margin: 0 auto;
}

.confirm_box{
    display: none;
    background-color: mintcream;
    border: 1px solid dimgray;
    position: fixed;
    left: 50%;
    top: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 500px;
    margin-left: -250px;

    animation-name: slide;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes slide {
    from {
        top: -120px;
    }

    to {
        top: 1px;
    }
}

.confirm_box__button {
    width:70px;
    border: 1px solid dimgray;
    background-color: LightGray;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}

.confirm_box__button--yes:hover{
    background-color: LightCoral;
    animation-name:redish;
    animation-duration: 1.5s;
}

@keyframes redish {
    from {
        background-color: LightGray;
    }

    to {
        background-color: LightCoral;
    }
}

.confirm_box__button--yes {
    animation-name:redished;
    animation-duration: 1.5s;
}


@keyframes redished {
    from {
        background-color: LightCoral;
    }

    to {
        background-color: LightGray;
    }
}

.confirm_box__button--no:hover{
    background-color: PaleGreen;
    animation-name:greenish;
    animation-duration: 1.5s;
}

@keyframes greenish {
    from{
        background-color: LightGray; 
    }
    
    to {
        background-color: palegreen;
    }
}

.confirm_box__button--no {
    animation-name:greenished;
    animation-duration: 1.5s;
}

@keyframes greenished {
    from {
        background-color: palegreen;
    }

    to {
        background-color: lightgray;
    }
}


@media all and (max-width: 640px) {
    .game_area {
        grid-template-columns: repeat(1, 1fr);
    }

    .clicking_area {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .upgrade_area {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .miners_area {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .miners_area__button:after{
        right: 0px;
        left: 0px;
        width: initial;
    }

    .confirm_box{
        left:0;
        margin:0;
        width:100%;
    }
}
